*{
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 100%;
}

.header{
    /* background-color: black; */
    width: 100%;
    overflow-y: none;

}

nav{
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

nav img{
    margin-left: 1.5rem;
    width:100px;
}

.name:hover{
    cursor: pointer;
    opacity: 0;
    transition: 0.25s;
}

.nameHoverContainer{
    position: absolute;
    opacity: 0;
}

.name:hover ~ .nameHoverContainer{
    opacity: 1;
    transition: 0.25s;
}

.nameHover{
    opacity: 100;
    z-index: 100;
    font-size: 2.5rem;
    font-weight: bold;
    color: antiquewhite;
    
    font-family: 'Exo 2', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Space Grotesk', sans-serif;
}

.nav-links{
    /* flex: 1; */
    position: relative;
    display: flex;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2.5rem;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;

    font-family: 'Exo 2', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Space Grotesk', sans-serif;
}

.nav-links ul li a:hover{
    font-size: 2.5rem;
    transition: 0.5s;
}

nav .fa-solid{
    display: none;
}

.text{
    padding-left: 10vmin;
    margin-top: 7%;
    margin-left: 2rem;
    color: antiquewhite;
    top: 30%;
}

.text h1{
    font-size: 7.5rem;

    font-family: 'Poppins', sans-serif;

}

.text p{
    margin-left: 6%;
    margin-top: 4rem;
    font-size: 2rem;

    /* font-family: 'Kalam', cursive; */
    font-family: 'Roboto Mono', monospace;
}

.typing{
    font-size: 2rem;
}

/* .typing::before{
    content: "";
    animation: blink 0.7s infinite;
}

.typing.stop-blinking::before{
    animation: none;
}

@keyframes blink{
    50%{
        opacity: 0;
    }
} */

.text span{
    animation: color-change 20s infinite;
}

@keyframes color-change{
    0% {color:rgb(255, 7, 7)  }
    10%{color:rgb(255, 7, 127) }
    20%{color: rgb(233, 23, 188) }
    30%{color:rgb(210, 7, 255) }
    40%{color:rgb(93, 0, 255) }
    50%{color:rgb(32, 7, 255) }
    60%{color: rgb(0, 164, 253)  }
    70%{color:rgb(7, 255, 251) }
    80%{color:rgb(7, 255, 52) }
    90%{color:rgb(114, 255, 7) }
    100%{color:  rgb(255, 238, 7) }
}

.content{
    display: flex;
    width: 100%;
    columns: 2;
}

.image{
    margin-left: 30vmin;
    margin-top: 5%;
}

.image img{
    width: 32rem;
    height: 34.5rem;
}

.projects{
    margin-top: 1rem;
    padding: 0%;
    text-align: center;
    color: antiquewhite;
    font-size: 2rem;

    font-family: 'Poppins', sans-serif;

}

.down{
    margin-top: 0.5rem;
    text-align: center;
}

.downimg{
    width: 2rem;
    height: 2rem;
}

.downimg:hover{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    transition: 0.25s;
}

/* Media Queries */
/* @media only screen and (max-width: 1200px){
   .header{
        height: 100vh;
   }

   nav img{
        width: 75px;
   }

   .nav-links ul li a{
        font-size: 1.5rem;
   }

   .text h1{
        font-size: 4rem;
   }

   .text p{
        margin-left: 3%;
        margin-top: 2rem;
        font-size: 1.5rem;
   }

   .image img{
        width: 16rem;
        height: 17.25rem;
    }

    .projects{
        margin-top: 2rem;
        padding: 0%;
        text-align: center;
        color: antiquewhite;
        font-size: 1.5rem;
    
        font-family: 'Poppins', sans-serif;
    
    }
} */

@media only screen and (max-width: 1400px){
    html{
        font-size: 75%;
    }

    .header{
        height: 120vh;
    }

    nav img{
        width: 75px;
   }

   .nav-links ul li a{
        font-size: 3rem;
    }

   .image{
        margin-left: 15vmin;
        margin-top: 6%;
}
}

@media only screen and (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .header{
        height: 100vh;
    }

    nav img{
        width: 75px;
   }

   .nav-links ul li a{
        font-size: 3rem;
}

   .image{
        margin-left: 30vmin;
        margin-top: 6%;
    }
}

@media only screen and (max-width: 991px){
    html{
        font-size: 45%;
    }

    .header{
        height: 100vh;
    }

    nav img{
        width: 50px;
   }

   .content{
        padding-top: 50%;
   }

   .image{
        margin-left: 15vmin;
        margin-top: 6%;
   }

   #menu-icon{
        display: initial;
    }

    nav{
        overflow: hidden;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links ul li a:hover{
        font-size: xx-large;
        color: rgb(0, 204, 255);
    }

    .nav-links{
        /* display: none; */
        position: absolute;
        top: 0;
        right: -300px;
        background: black;
        height: 100vh;
        width: 300px;
        text-align: left;
        border: 1px solid rgb(0, 15, 150);
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        margin-top: 40px;
        padding: 50px 30px 30px 0px;
    }

    .nav-links ul li a{
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 768px){
    html{
        font-size: 30%;
    }

    .header{
        height: 100vh;
    }

    nav img{
        width: 50px;
   }

   .nav-links ul li a{
        font-size: 5rem;
   }

   .content{
    padding-top: 50%;
   }

   .image{
    margin-left: 15vmin;
    margin-top: 6%;
    }

    /* #menu-icon{
        display: initial;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links ul li a:hover{
        font-size: x-large;
        color: rgb(0, 204, 255);
    }

    .nav-links{
        position: absolute;
        top: 0;
        right: -200px;
        background: black;
        height: 100vh;
        width: 200px;
        text-align: left;
        border: 1px solid rgb(0, 15, 150);
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        margin-top: 40px;
        padding: 20px 30px 30px 0px;
    }

    .nav-links ul li a{
        font-size: 3.5rem;
    } */
}

@media only screen and (max-width: 420px){
    html{
        font-size: 30%;
    }
    
    .header{
        height: 100vh;
    }

    nav img{
        width: 30px;
   }

   .nav-links ul li a{
        font-size: 5rem;
   }

   .image{
    margin-left: 7vmin;
    margin-top: 6%;
    }

    .image img{
        width: 20rem;
        height: 21.25rem;
    }

    .text h1{
        font-size: 5rem;
    }

    .text p{
        font-size: 1.5rem;
    }

    .projects{
        margin-top: 4rem;
    }

}
