*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-size: 100%;
}

.header{
    background-color: black;
    width: 100%;
    overflow-y: none;

}

nav{
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

nav img{
    margin-left: 1.5rem;
    width:100px;
}

.name:hover{
    cursor: pointer;
    opacity: 0;
    transition: 0.25s;
}

.nameHoverContainer{
    position: absolute;
    opacity: 0;
}

.name:hover ~ .nameHoverContainer{
    opacity: 1;
    transition: 0.25s;
}

.nameHover{
    opacity: 100;
    z-index: 100;
    font-size: 2.5rem;
    font-weight: bold;
    color: antiquewhite;
    
    font-family: 'Exo 2', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Space Grotesk', sans-serif;
}

.nav-links{
    /* flex: 1; */
    position: relative;
    display: flex;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2.5rem;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;

    font-family: 'Exo 2', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Space Grotesk', sans-serif;
}

.text{
    padding-left: 10vmin;
    margin-top: 8%;
    margin-left: 2rem;
    color: antiquewhite;
    top: 30%;
}

.text h1{
    font-size: 7.5rem;

    font-family: 'Poppins', sans-serif;

}

.text p{
    margin-left: 6%;
    margin-top: 4rem;
    font-size: 2rem;

    font-family: 'Kalam', cursive;

}

.text span{
    animation: color-change 20s infinite;
}

@keyframes color-change{
    0% {color:rgb(255, 7, 7)  }
    10%{color:rgb(255, 7, 127) }
    20%{color: rgb(233, 23, 188) }
    30%{color:rgb(210, 7, 255) }
    40%{color:rgb(93, 0, 255) }
    50%{color:rgb(32, 7, 255) }
    60%{color: rgb(0, 164, 253)  }
    70%{color:rgb(7, 255, 251) }
    80%{color:rgb(7, 255, 52) }
    90%{color:rgb(114, 255, 7) }
    100%{color:  rgb(255, 238, 7) }
}

.content{
    display: flex;
    width: 100%;
    columns: 2;
}

.image{
    margin-left: 30vmin;
    margin-top: 6%;
}

.image img{
    width: 32rem;
    height: 34.5rem;
}

.projects{
    margin-top: 1rem;
    padding: 0%;
    text-align: center;
    color: antiquewhite;
    font-size: 2rem;

    font-family: 'Poppins', sans-serif;

}

.down{
    margin-top: 0.5rem;
    text-align: center;
}

.downimg{
    width: 2rem;
    height: 2rem;
}

/* Media Queries */
/* @media only screen and (max-width: 1200px){
   .header{
        height: 100vh;
   }

   nav img{
        width: 75px;
   }

   .nav-links ul li a{
        font-size: 1.5rem;
   }

   .text h1{
        font-size: 4rem;
   }

   .text p{
        margin-left: 3%;
        margin-top: 2rem;
        font-size: 1.5rem;
   }

   .image img{
        width: 16rem;
        height: 17.25rem;
    }

    .projects{
        margin-top: 2rem;
        padding: 0%;
        text-align: center;
        color: antiquewhite;
        font-size: 1.5rem;
    
        font-family: 'Poppins', sans-serif;
    
    }
} */

@media only screen and (max-width: 1400px){
    html{
        font-size: 75%;
    }

    .header{
        height: 120vh;
    }

    nav img{
        width: 75px;
   }

   .image{
        margin-left: 15vmin;
        margin-top: 6%;
}
}

@media only screen and (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .header{
        height: 100vh;
    }

    nav img{
        width: 75px;
   }

   .image{
        margin-left: 15vmin;
        margin-top: 6%;
    }
}

@media only screen and (max-width: 991px){
    html{
        font-size: 45%;
    }

    .header{
        height: 100vh;
    }

    nav img{
        width: 50px;
   }

   .image{
        margin-left: 15vmin;
        margin-top: 6%;
   }
}

@media only screen and (max-width: 720px){
    html{
        font-size: 30%;
    }

    .header{
        height: 100vh;
    }

    nav img{
        width: 50px;
   }

   .nav-links ul li a{
        font-size: 3rem;
   }

   .image{
    margin-left: 15vmin;
    margin-top: 6%;
    }
}

@media only screen and (max-width: 420px){
    html{
        font-size: 30%;
    }
    
    .header{
        height: 100vh;
    }

    nav img{
        width: 30px;
   }

   .nav-links ul li a{
        font-size: 2rem;
   }

   .image{
    margin-left: 0;
    margin-top: 6%;
    }

    .text h1{
        font-size: 6rem;
    }

    .projects{
        margin-top: 4rem;
    }

}
